@use "../global/global" as *;

.footer{
  padding-top: 4rem;

  .footerContainer{
    .footerMenuDiv{
      padding: 2rem;
      background: var(--greyColor);
      border-radius: 10px;
      gap: 1.5rem;

      .singleGrid{
        display: flex;
        flex-direction: column;
        .footerTitle{
          align-self: flex-start;
          display: block;
          padding-bottom: .5rem;
          font-size: 16px;
          color: var(--blackColor);
          font-weight: 700;
        }

        .footerUl{
          gap: 5px;

          .footerLi{
            color: var(--textColor);

            a{
              text-decoration: none;
              color: var(--textColor);
            }

            .email{
              width: 100%;
            }

            &:hover{
              color: var(--blackColor);
              transform: translateX(5px);
              transition: .3s;
            }

            .email{
              width: 100%;
            }

            .submitEmail{
              width: 100%;
              background: black;
              color: white;
              border-radius: 0.3rem;
              box-shadow: 0 3px 3px 0 rgb(27, 27, 27);
              cursor: pointer;
              font-weight: 700;
              padding: 0.5rem 0.5rem;
              text-decoration: none;
              transition: all .3s;
            }
          }
        }
      }
    }

    .lowerSection{
      justify-content: center;
      padding: 1rem;
    }
  }
}

// Media queries to make Footer responsive
@media screen and (min-width: 520px) {
  .footer{
    .footerContainer{
      .footerMenuDiv{
        grid-template-columns: repeat(2, 1fr);

        .singleGrid{
          .footerTitle{
            font-size: 17px;
          }

          .footerUl{
            gap: 5px;

            .footerLi{
              color: var(--textColor);
              a{
                text-decoration: none;
                color: var(--textColor);
              }

              .email{
                width: 100%;
              }

              .submitEmail{
                width: 100%;
                background: black;
                color: white;
                border-radius: 0.3rem;
                box-shadow: 0 3px 3px 0 rgb(27, 27, 27);
                cursor: pointer;
                font-weight: 700;
                padding: 0.5rem 0.5rem;
                text-decoration: none;
                transition: all .3s;
              }
            }
          }
        }
      }

      .lowerSection{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media screen and (min-width: 770px) {
  .footer{
    .footerContainer{
      .footerMenuDiv{
        grid-template-columns: repeat(3, 1fr);

        .email{
          width: 100%;
        }

        .submitEmail{
          width: 100%;
          background: black;
          color: white;
          border-radius: 0.3rem;
          box-shadow: 0 3px 3px 0 rgb(27, 27, 27);
          cursor: pointer;
          font-weight: 700;
          padding: 0.5rem 0.5rem;
          text-decoration: none;
          transition: all .3s;
        }
      }
    }
  }
}

@media screen and (min-width: 940px) {
  .footer{
    .footerContainer{
      padding: 2rem;
      .footerMenuDiv{
        grid-template-columns: repeat(4, 1fr);

        .footerUl{
          .footerLi{
            a{
              text-decoration: none;
              color: var(--textColor);
            }

            .email{
              width: 100%;
            }
          }
        }
        .email{
          width: 100%;
        }

        .submitEmail{
          width: 100%;
          background: black;
          color: white;
          border-radius: 0.3rem;
          box-shadow: 0 3px 3px 0 rgb(27, 27, 27);
          cursor: pointer;
          font-weight: 700;
          padding: 0.5rem 0.5rem;
          text-decoration: none;
          transition: all .3s;
        }
      }
    }
  }
}
