@use "../../global/global" as *;

.modelsSection{
  .container{
    margin: 0 auto!important;
    max-width: 133rem!important;
    padding: 0 2.5rem!important;

    .modelsDiv{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 3rem;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 10rem 0;
      width: 100%;
      margin: 0 auto;

      @media (min-width: 1440px) {
        grid-template-columns: 1fr 1fr 1fr;
        width: fit-content;
      }
      @media (max-width: 1150px) {
        grid-template-columns: 1fr 1fr;
        width: fit-content;
      }

      @media (max-width: 800px) {
        grid-template-columns: 1fr;
        width: fit-content;
      }
    }
  }
}
