:root {
  --primaryColor: #ffffff;
  --secondaryColor: #000000;
  --textColor: #000000;
  --greyColor: #9a9a9a;
  --whiteColor: #ffffff;
  --blackColor: #000000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 2rem;
  box-shadow: 0 4px 6px rgb(237, 237, 237);
  z-index: 1000;
}
.header .logoDiv .logo {
  width: 80px;
}
@media screen and (max-width: 768px) {
  .header .navbar {
    position: absolute;
    background: var(--primaryColor);
    border: rgb(237, 237, 237) 1px solid;
    width: 80%;
    top: -100rem;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    text-align: center;
    padding: 4rem;
    transition: 0.3s ease;
    z-index: 2000;
  }
  .header .closeIcon {
    position: absolute;
    bottom: -15px;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    background: var(--secondaryColor);
    color: var(--primaryColor);
    border-radius: 50%;
    font-size: 35px;
  }
  .header .closeIcon:hover {
    color: black;
    background: var(--greyColor);
  }
  .header .menu {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .header .menu .listItem {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    /* Need to change */
    /* Need to change */
  }
  .header .menu .listItem a {
    font-size: 15px;
    text-decoration: none;
  }
  .header .menu .listItem:hover {
    background: 255;
    color: 233;
    transition: 0.3s ease;
  }
  .header .menu .listItem:hover a {
    color: 233;
  }
}
.header .signUp {
  gap: 0.5rem;
}
.header .signUp .text {
  padding: 3px 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
.header .signUp .text:hover {
  background: var(--greyColor);
  color: var(--blackColor);
}
.header .signUp .toggleNavBarIcon {
  background: none;
  color: var(--primaryColor);
  font-weight: 600;
  font-size: 25px;
}
.header .showNavbar {
  top: 10rem;
  transition: 0.5s ease;
}

@media screen and (min-width: 520px) {
  .header .logoDiv img {
    width: 30px;
  }
  .header .signUp .text {
    padding: 6px;
    font-size: 16px;
  }
  .header .signUp .toggleNavBarIcon {
    font-size: 30px;
  }
}
@media screen and (min-width: 770px) {
  .header .navbar .closeIcon {
    display: none;
  }
  .header .navbar .menu {
    display: flex;
    flex-direction: row;
    margin-bottom: 0rem;
  }
  .header .navbar .menu .listItem {
    padding: 0.3rem 1rem;
    border-radius: 3px;
  }
  .header .navbar .menu .listItem a {
    text-decoration: none;
    color: var(--textColor);
    font-size: 15px;
  }
  .header .navbar .menu .listItem:hover {
    background: var(--primaryColor);
    color: var(--blackColor);
    transition: 0.3s ease;
  }
  .header .signUp .text {
    padding: 6px 10px;
  }
  .header .signUp .toggleNavBarIcon {
    display: none;
  }
}
@media screen and (min-width: 1064px) {
  .header {
    padding: 2rem 7rem;
  }
  .header .navbar .menu .listItem a {
    font-size: 17px;
  }
  .header .signUp .text {
    font-size: 18px;
  }
}
@media screen and (min-width: 1400px) {
  .header .navbar .menu .listItem {
    margin: 0 0.8rem;
  }
}/*# sourceMappingURL=Navbar.css.map */