:root{
  --primaryColor: #ffffff;
  --secondaryColor: #000000;
  --textColor: #000000;
  --greyColor: #9a9a9a;
  --whiteColor: #ffffff;
  --blackColor: #000000;
}

.about{
  .container{
    margin: 0 auto!important;
    max-width: 80rem!important;
    padding: 0 2.5rem!important;
    .aboutMain{
      display: flex;
      align-items: center;
      gap: 5rem;
      margin: 10rem auto;
      max-width: 90rem;
        .aboutMainImg{
          height:40rem;
          width: 30rem;
          border-radius: 3rem;
        }

      .aboutContainer{
      color: #010103;
      display: flex;
      flex-direction: column;

      h3{
        font-size: 2.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      h2{
        font-size: 4.2rem;
        line-height: 1.06;
        font-weight: 800;
      }

      p{
        color: #706f7b;
        font-size: 1.6rem;
        line-height: 1.2;
        margin-bottom: 4rem;
        margin-top: 2rem;
      }
      }
      .aboutMainTextIcons{
        display: grid;
        grid-gap: 4rem;
    gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
